*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

header{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

#dashboard-header{
    display: flex;
    justify-content: space-between;
    border: 1px solid;
}

main{
    margin-top: 5%;
}

#create-container{
    display: flex;
    justify-content: center;
    align-items: start;
}

form{
    display: block;
}

.time-input{
    width: 30px;
    display: block
}

#day-list{

}
.buf{
    text-align: center;
}
.date-range{
    display: inline-block;
    height: fit-content;
    width: fit-content;
}
a{
    text-decoration: none;
    color: black;
}

#dashboard-container{
    display: block;
}

#dashboard-filter{
    background-color: grey;
    border-radius: 4px;
    margin-top: 2%;
    padding: 1%;
}

.form-buf{
    margin-bottom: 5%;
}

input{
    margin: 0;
    padding: 0;
}

#time-range{
    margin-top: 2%;
}

label{
    color: dodgerblue;
}